<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Company.Client.PL.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    @if (!User.Identity.IsAuthenticated)
    {
        <link rel="stylesheet" href="~/css/authlayout.css" />
    }
</head>
<body>
    <partial name="_Navbar">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Company Dashboard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* if required: true ->
        not all views can use this layout unless they have a section called Scripts *@
    @* usually the create & update views has the Scripts section *@
    @* in this section we use jquery plugins to apply client-side validiation *@
    @* these plugins take the data annotations that is apllied on the ViewModels & convert them to js code *@
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("ValidationScripts", required: false)
</body>
</html>
