
@{
    ViewData["Title"] = "CheckYourPhone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-w3layouts wrapper">
	<h1>Check Your Phone</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<div class="d-flex flex-column justify-content-center align-content-center">
				<p>Reset Password Url has been sent to your Phone</p>
				<a target="_blank" href="https://mail.google.com/" class="m-auto">Check Your Messages</a>
			</div>
		</div>
	</div>
</div>

