
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-w3layouts wrapper">
	<h1>CheckYourInbox</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<div class="d-flex flex-column justify-content-center align-content-center">
			<p>Reset Password Url has been sent to your Email</p>
			<a target="_blank" href="https://mail.google.com/">Your Inbox</a>
			</div>
		</div>
	</div>
</div>


